{% extends 'app.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <div class="jumbotron">
            <h1 class="display-4">Roadtrip</h1>
            <p class="lead">Roadtrip is a ride-sharing web app that puts drivers ahead of riders.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/register">Register</a>
                <a class="btn btn-success btn-lg" href="/login">Login</a>
            </p>
        </div>
    </div>
{% endblock %}
