{% extends 'app.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <div class="jumbotron py-4">
            <div style="display: flex; justify-content: center;">
                <img src={{ url_for('static', filename='img/roadtrip.svg' ) }} width="40%" height="40%"/>
            </div>
            <p class="lead"><b>Roadtrip</b> is a ride-sharing web app that puts drivers ahead of riders.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/register">Register</a>
                <a class="btn btn-success btn-lg" href="/login">Login</a>
            </p>
        </div>
    </div>
{% endblock %}
