<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Roadtrip</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script text="src/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Roadtrip</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trips/new">Plan Trip</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trips">Book Trip</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <section class="header" style="margin-top: 80px">
        <h2>{% block header %}{% endblock %}</h2>
      </section>
      <section class="content">
        {% block content %}{% endblock %}
      </section>
    </div>
  </body>
</html>
