{% extends 'layout.html' %}

{% block title %}
    My Trips
{% endblock %}

{% block header %}
    My Trips
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            Driver Trips
        </div>
        <div class="card-body">
            {% with trips=driver_trips %}
                {% include 'trip_table.html' %}
            {% endwith %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Rider Trips
        </div>
        <div class="card-body">
            {% with trips=rider_trips %}
                {% include 'trip_table.html' %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
