<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/roadtrip.svg') }}" width="30px" height="30px">
            Roadtrip
          </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if not session['username'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/my_trips">My Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trips/new">Plan Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trips">Book Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
            {% if session['username'] %}
                <span class="navbar-text">Logged in as {{ session['username'] }}</span>
            {% endif %}
        </div>
    </div>
</nav>
