{% extends 'trips.html' %}

{% block title %}
    Plan Trip
{% endblock %}


{% block content %}
<form action="/trips" method="post">
    <div class="form-group required">
        <label for="origin">Origin</label>
        <input class="form-control" type="text" id="origin-input" name="origin" required>
    </div>
    <div class="form-group required">
        <label for="destination">Destination</label>
        <input class="form-control" type="text" id="destination-input" name="destination" required>
    </div>
    <div class="form-group required">
        <label for="seats">Available Seats</label>
        <input class="form-control" type="number" min="1" name="seats" required>
    </div>
    <div class="form-group required">
        <label for="seats">Fare</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input class="form-control" type="number" min="0" name="fare" required>
        </div>
    </div>
    <div class="form-group required">
        <label for="seats">Departure Date</label>
        <input class="form-control" type="date" name="date" required>
    </div>
    <div class="form-group required">
        <label for="seats">Departure Time</label>
        <input class="form-control" type="time" name="time" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script text="src/javascript">
    function initMap() {
        function autocomplete(id) {
            const input = document.getElementById(id);
            const autocomplete = new google.maps.places.Autocomplete(input);
        }

        autocomplete('origin-input');
        autocomplete('destination-input');
    }
</script>
<script text="src/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ config.MAPS_API_KEY }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
