{% extends 'layout.html' %}

{% block title %}
    Trip
{% endblock %}

{% block header %}
	Trip
{% endblock %}

{% block content %}
    <div class="card" style="margin-bottom: 20px">
        <div class="card-header">
            Trip Details
        </div>
        <div class="card-body">
            <p>{{ trip.username }} is driving from {{ trip.origin }} to {{ trip.destination }} with {{ trip.seats - passengers|length }} seats remaining.</p>
            <p><b>Fare:</b> ${{ '%.2f'|format(trip.fare) }}</p>
            <p><b>Departure:</b> {{ trip.date }} at {{ trip.time }}</p>
            {% if passengers|length > 0 %}<p><b>Passengers: </b> {{ passengers|join(', ') }}</p>{% endif %}
            {% if passengers|length < trip.seats %}
            <form action="/trips/{{ trip.id }}" method="post">
                <button type="submit" class="btn btn-success">Join</button>
            </form>
            {% endif %}
            {% if trip.username == session['username'] %}
            <form action="/trips/{{ trip.id }}/delete" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
	  </div>
	</div>
	<iframe
	    width="100%"
	    height="480px"
	    frameborder="0"
	    src="https://www.google.com/maps/embed/v1/directions?key={{ config.MAPS_API_KEY }}&origin={{ trip.origin }}&destination={{ trip.destination }}"
	    style="border: 0;">
	</iframe>
{% endblock %}
