{% extends 'layout.html' %}

{% block title %}
    Book Trip
{% endblock %}

{% block header %}
    Book Trip
{% endblock %}

{% block content %}
    <div class="form-inline">
        <label for="origin">Origin:</label>
        <input class="form-group" type="text" id="origin-input" name="origin">

        <label for="destination">Destination:</label>
        <input class="form-group" type="text" id="destination-input" name="destination">

        <form action="/trips" method="get">
            <label for="radius">Radius(miles):</label>
            <input class="form-group" type="number" min="0" id="radius" name="radius">

            <input type="hidden" id="originLat-input" name="originLat">
            <input type="hidden" id="originLng-input" name="originLng">

            <input type="hidden" id="destinationLat-input" name="destinationLat">
            <input type="hidden" id="destinationLng-input" name="destinationLng">

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Seats</th>
            <th scope="col">Fare</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Departure Time</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr class="post">
                <td>{{ trip.username }}</td>
                <td>{{ trip.origin }}</td>
                <td>{{ trip.destination }}</td>
                <td>{{ trip.seats }}</td>
                <td>${{ trip.fare }}</td>
                <td>{{ trip.date }}</td>
                <td>{{ trip.time }}</td>
                <td><a href="/trips/{{ trip.id }}"><i class="fas fa-arrow-right"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
