{% extends 'layout.html' %}

{% block title %}
    Trip
{% endblock %}

{% block header %}
	Trip
{% endblock %}

{% block content %}
    <div class="card" style="margin-bottom: 20px">
        <div class="card-header">
            Trip Details
        </div>
        <div class="card-body">
            <p>{{ trip.username }} is driving from {{ trip.origin }} to {{ trip.destination }} with {{ trip.seats }} available seats.</p>
            <p><b>Fare:</b> ${{ trip.fare }}</p>
            <p><b>Departure:</b> {{ trip.date }} at {{ trip.time }}</p>
            <form action="/trips/{{ trip.id }}" method="post">
                <button type="submit" class="btn btn-success">Join</button>
            </form>
	  </div>
	</div>
	<iframe
	    width="100%"
	    height="480px"
	    frameborder="0"
	    src="https://www.google.com/maps/embed/v1/directions?key={{ config.MAPS_API_KEY }}&origin={{ trip.origin }}&destination={{ trip.destination }}"
	    style="border: 0;">
	</iframe>
{% endblock %}
