{% extends 'layout.html' %}

{% block title %}
    Trip
{% endblock %}

{% block header %}
    Trip
{% endblock %}

{% block content %}
<iframe
    width="1024"
    height="768"
    frameborder="0"
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBDCGlmrN7hyGol7t2X_L3P30rVXIc8KI8&origin={{ trip[2] }}&destination={{ trip[3] }}"
    style="border:0;">
</iframe>
<form action="/trips/{{ trip[0] }}" method="post">
	<button type="submit" class="btn btn-success">Join</button>
</form>
{% endblock %}
