{% extends 'layout.html' %}

{% block title %}
    Book Trip
{% endblock %}

{% block header %}
    Book Trip
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            Filter Trips
        </div>
        <div class="card-body">
            <form action="/trips" method="get" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" id="origin-input" name="origin" placeholder="Enter origin" value="{{ filter.origin }}">
                </div>

                <div class="form-group mx-sm-3">
                    <input class="form-control" type="text" id="destination-input" name="destination" placeholder="Enter destination" value="{{ filter.destination }}">
                </div>

                <div class="form-group mx-sm-3">
                    <div class="input-group">
                        <input class="form-control" type="number" min="0" name="radius" placeholder="Enter radius" value="{{ filter.radius or 10 }}">
                        <div class="input-group-append">
                            <span class="input-group-text">mi.</span>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="originLat-input" name="originLat" value="{{ filter.originLat }}">
                <input type="hidden" id="originLng-input" name="originLng" value="{{ filter.originLng }}">

                <input type="hidden" id="destinationLat-input" name="destinationLat" value="{{ filter.destinationLat }}">
                <input type="hidden" id="destinationLng-input" name="destinationLng" value="{{ filter.destinationLng }}">

                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>

    {% include 'trip_table.html' %}
    {% include 'location_input.html' %}
{% endblock %}
